div.music-controller {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 100vh;
    transform: translateY(-100%);

    background-color: var(--white);

    width: 100vw;
    height: 30vh;
    padding: 1.5em;
}

div.music-controller div.music-controller-wrapper{
    width: 100%;
}

/* Text Content */
div.music-controller div.text-content{
    text-align: center;

    color: var(--green-dark);
}

div.music-controller div.text-content h3{
    font-weight: 600;
}

div.music-controller div.text-content p{
    line-height: 0.8em;
    color: var(--dark);

    font-size: 0.8em;
}

div.music-controller div.music-controller-wrapper div.controller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Timeline Slider */
div.music-controller div.controller div.timeline-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    width: 100%;

    margin-top: 1em;
}

div.music-controller div.controller div.timeline-slider p{
    font-size: 0.6em;
}

div.music-controller div.controller div.timeline-slider input.slider{
    flex-grow: 1;

    appearance: none;
    height: 0.2em;

    border-radius: 0.2em;

    background-color: var(--green-dark);   
}

div.music-controller div.controller div.timeline-slider input.slider::-webkit-slider-thumb{
    appearance: none;

    cursor: pointer;

    width: 1em;
    height: 1em;
    border-radius: 50%;

    background-color: var(--green-white);
}

div.music-controller div.controller div.timeline-slider input.slider::-moz-range-thumb{
    appearance: none;

    cursor: pointer;

    width: 1em;
    height: 1em;
    border-radius: 50%;

    background-color: var(--green-white);
}

/* Controller Button */
div.controller-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-top: 1.5em;

    width: 100%;
}

div.controller-button button{
    background-color: transparent;
    border: none;
    padding: 0.5em;

    line-height: 0;

    font-size: 1.5em;
    color: var(--green-dark);

    cursor: pointer;
}

/* Controller Sound */
div.controller-sound{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    transform: translateY(-100%);

    background-color: var(--dark);
    padding: 0.5em;
    border-radius: 0.5em;
}

div.controller-sound input.slider{
    appearance: none;
    height: 0.2em;

    border-radius: 0.2em;

    background-color: var(--white);
}

div.controller-sound{
    display: none;
}

div.controller-sound.muncul{
    display: flex;
}

div.controller-sound input.slider::-webkit-slider-thumb{
    appearance: none;

    cursor: pointer;

    width: 1em;
    height: 1em;
    border-radius: 50%;

    background-color: var(--green-white);
}

div.controller-sound input.slider::-moz-range-thumb{
    appearance: none;

    cursor: pointer;

    width: 1em;
    height: 1em;
    border-radius: 50%;

    background-color: var(--green-white);
}

@media all and (max-height: 480px){
    div.music-controller {
        height: 40vh;
    }
}

@media all and (min-height: 600px){
    div.music-controller {
        height: 40vh;
    }
}

@media all and (min-height: 1024px){
    div.music-controller {
        height: 22vh;
    }
}

@media all and (min-width: 414px){

    /* Text Content */
    div.music-controller div.text-content h3{
        font-size: 1.5em;
    }

    div.music-controller div.text-content p{
        font-size: 1em;
    }

    /* Timeline Slider */
    div.music-controller div.controller div.timeline-slider p{
        font-size: 0.8em;
    }

    /* Controller Button */
    div.controller-button button{
        font-size: 2em;
    }
}

@media all and (min-width: 768px){
    div.music-controller {
        width: calc(100vw - var(--size-sidebar-768));

        margin-left: var(--size-sidebar-768);
    }
}

@media all and (min-width: 1024px){
    div.music-controller {
        width: calc(100vw - var(--size-sidebar-1024));
        height: 25vh;

        margin-left: var(--size-sidebar-1024);
    }

    div.music-controller div.music-controller-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8em;
    }

    /* Text Content */
    div.music-controller div.text-content{
        position: absolute;
        left: 0;

        margin-left: 3vw;

        text-align: left;
    }

    div.music-controller div.text-content h3{
        font-size: 1.3em;
    }

    /* Timeline Slider */
    div.music-controller div.controller div.timeline-slider input.slider{
        width: 30em;
    }

    /* Controller Button */
    div.controller-button {
        width: auto;
    }

    /* Controller Sound */
    div.controller-sound{
        display: none;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
    }

}

