@import url(../../index.css);

div.playlist-box, div.empty-playlist {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 350px;

    position: relative;
    
    background-color: var(--white);
    border-radius: 1em;
    padding: var(--padding-rule-280);

    transition: transform 0.3s;

    cursor: pointer;
}

div.empty-playlist {
    background-color: transparent;
    transition: none;
}

div.playlist-box:hover {
    transform: scale(1.03);
}

/* Empty Playlist */
div.empty-playlist div.add-playlist-button {
    line-height: 0;
}

div.empty-playlist div.add-playlist-button svg {
    font-size: 5em;
    color: var(--white);
    transition: transform 0.3s;

}

div.empty-playlist div.add-playlist-button svg:hover{
    transform: scale(1.1);
}

/* Image */
div.playlist-box div.image {
    width: 90%;
    line-height: 0;
    padding-top: 1em;
}

div.playlist-box div.image img{
    display: block;

    width: 100%;
    border-radius: 1em;
}

/* Text Content */
div.playlist-box div.text-content p{
    text-align: center;
}

div.playlist-box div.text-content p.title-playlist{
    color: var(--green-dark);
    font-weight: 600;
    font-size: 1.2em;
    word-break: break-all;
    
    /* width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */


    cursor: text;

    padding-top: 1em;
}

/* Button */
div.playlist-box div.playlist-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div.playlist-box div.playlist-buttons div.playlist-button{
    background-color: var(--white);
    color: var(--green-dark);
    padding: 1em;

    line-height: 0;

    transition: background-color 0.3s;
}

div.playlist-box div.playlist-buttons div.playlist-button:hover{
    background-color: var(--green-white);
}


div.playlist-box div.playlist-buttons div.delete-playlist{
    border-top-left-radius: 1em;
}

div.playlist-box div.playlist-buttons div.rename-playlist{
    border-top-right-radius: 1em;
}

