@import url(../../index.css);

div.alert-wrapper {
    width: 100vw;
    padding: var(--padding-rule-280);

    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    transition: all 0.3s;
}

div.alert-wrapper div.alert {
    width: 100%;
}

div.alert-wrapper div.alert div.message{
    background-color: var(--green-dark);
    padding: var(--padding-rule-280);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    font-size: 1.4em;
    
    color: var(--white);
}

div.alert-wrapper div.alert div.buttons-answer{
    display: flex;
    justify-content: end;
    gap: 1em;

    padding: var(--padding-rule-280);
    background-color: var(--white);

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

div.alert-wrapper div.alert div.buttons-answer button{
    background-color: var(--green-dark);
    border: 0;
    padding: 0.4em var(--padding-rule-280);
    border-radius: 0.5em;

    color: var(--white);
    
    font-size: 1em;

    cursor: pointer;
}

/* Black screen */
div.black-screen {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 900;

    background-color: black;
    opacity: 0.8;

    transition: all 0.3s;
}

@media all and (min-width: 768px) {
    div.alert-wrapper {
        width: 50vw;
    }

}