/* Variables */
:root {

    /* Colors */
    --dark: #343434;
    --green-dark: #055E68;
    --green-light: #62A388;
    --green-white: #B9D2D2;
    --white: #F5F5F5;

    /* Space Sidebar */
    --space-sidebar-768: 18.5vw;
    --space-sidebar-1024: 10vw;

    /* Padding */
    --padding-rule-280: 0.8em;
    --padding-rule-320: 0.8em 2em;
    --padding-rule-390: 1.8em 2.4em;
    --padding-rule-768: 0;

}