@import url("../../index.css");

:root {
    --space-sidebar-768: 18.5vw;
    --space-sidebar-1280: 10vw;
}


div.nav-padding{
    padding: 0.8em;
}

nav.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

/* Search Bar */
nav.navbar div.searchbar-section input.searchbar{
    border-radius: 0.8em;
    border: none;

    padding: 0.4em;
    background-color: var(--white);

    color: var(--green-dark);

    width: 100%;
}

nav.navbar div.searchbar-section input.searchbar::placeholder{
    padding: 0.4em;

    color: var(--green-dark);
}

/* Navigation */
nav.navbar div.navigation-section ul{
    display: flex;

    list-style-type: none;

    font-size: 1.8em;
    line-height: 0;
}

nav.navbar div.navigation-section ul li a{
    display: block;

    color: var(--white);

    padding: 0.3em;
}

nav.navbar div.navigation-section ul li a:hover{
    opacity: 0.8;
}

@media all and (min-width: 320px) {
    
    div.nav-padding{
        padding: 0.8em 2em;
    }

    /* Search Bar */
    nav.navbar div.searchbar-section input.searchbar{
        width: 90%;
    }
}

@media all and (min-width: 375px) {

    /* Search Bar */
    nav.navbar div.searchbar-section input.searchbar{
        padding: 0.6em;
        font-size: 1em;
    }

}

@media all and (min-width: 390px) {

    div.nav-padding{
        padding: 1.8em 2.4em;
    }

    /* Search Bar */
    nav.navbar div.searchbar-section input.searchbar{
        padding: 0.6em;
        font-size: 1em;
    }

    /* Navigation */
    nav.navbar div.navigation-section ul{
        font-size: 2.2em;
    }
}

@media all and (min-width: 540px) {

    /* Search Bar */
    nav.navbar div.searchbar-section input.searchbar{
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    div.nav-padding{
        padding: 0;
        margin-top: 4em;
    }

    nav.navbar{
        flex-direction: row-reverse;
        justify-content: start;
    }

    /* Search Bar */
    nav.navbar div.searchbar-section {
        margin-left: var(--space-sidebar-768);
    }

    nav.navbar div.searchbar-section input.searchbar{
        width: 20em;
    }

    /* Navigation */
    nav.navbar div.navigation-section{
        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        top: 0;

        height: 100vh;

        background-color: var(--white);
    }
    
    nav.navbar div.navigation-section ul{
        flex-direction: column;

        position: relative;
    }

    nav.navbar div.navigation-section ul::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        background-color: var(--green-dark);
        width: 100%;
        height: 50%;

        transition: all 0.3s;
    }

    nav.navbar div.navigation-section ul li a{
        position: relative;
        color: var(--green-dark);

        transition: all 0.3s;
    }

    nav.navbar div.navigation-section ul li a:hover{
        opacity: 1;
    }

    nav.navbar div.navigation-section ul li.home-button a{
        color: var(--white);
    }

    /* Animation for Sidebar */
    nav.navbar div.navigation-section ul.sidebar-active-playlist::before{
        top: 50%;
    }

    nav.navbar div.navigation-section ul.sidebar-active-playlist li.playlist-button a{
        color: var(--white);
    }

    nav.navbar div.navigation-section ul.sidebar-active-playlist li.home-button a{
        color: var(--green-dark);
    }
    
}

@media all and (min-width: 1280px){
    /* Search Bar */
    nav.navbar div.searchbar-section {
        margin-left: var(--space-sidebar-1280);
    }

}